---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
const pageHeader= "About Me";


const identity = {
firstName: "Piper",
country: "New Zealand",
occupation: "full time student",
hobbies: ["programming", "guitar", "karate"],
};

const skills = ["HTML", "JavaScript", "SQL",  "Astro", "C", "Java", "Kotlin", "Lua", "Python"];
---
<BaseLayout pageTitle={pageTitle}, pageHeader={pageHeader}>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>

        <li>I live in {identity.country} and I am a {identity.occupation}.</li>

        { 
            identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>   
</BaseLayout>
